@font-face {
  font-family: concourse_2;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_2_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_2;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_2_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_2;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_2_bold.woff2') format('woff2');
}

@font-face {
  font-family: concourse_2;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_2_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_2_caps;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_2_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_2_caps;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_2_caps_bold.woff2') format('woff2');
}

@font-face {
  font-family: concourse_3;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_3_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_3;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_3_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_3;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_3_bold.woff2') format('woff2');
}

@font-face {
  font-family: concourse_3;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_3_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_3_caps;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_3_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_3_caps;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_3_caps_bold.woff2') format('woff2');
}

@font-face {
  font-family: concourse_4;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_4_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_4;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_4_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_4;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_4_bold.woff2') format('woff2');
}

@font-face {
  font-family: concourse_4;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_4_bold_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_4_caps;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_4_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_4_caps;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_4_caps_bold.woff2') format('woff2');
}

@font-face {
  font-family: concourse_6;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_6_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_6;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_6_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_6_caps;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_6_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_7;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_7_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_7;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_7_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_7_caps;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_7_caps_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_8;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_8_regular.woff2') format('woff2');
}

@font-face {
  font-family: concourse_8;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_8_italic.woff2') format('woff2');
}

@font-face {
  font-family: concourse_8_caps;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: auto;
  src: url('../fonts/concourse_8_caps_regular.woff2') format('woff2');
}