<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="container mx-auto mt-8 p-4">
    <header>
      <table width=100%>
        <tr>
          <td>
            <table>
              <tr>
                <td><a href="default.html"><img src="/assets/images/RMSmall_whitebg.jpg"></a></td>
                <td class="text-5xl">|</td>
                <td class="text-4xl font-['concourse8']">IDEAS</td>
              </tr>
            </table>
          <td style="text-align: right;">{% include navigation.html %}</td>
        </tr>
      </table>
      <br>
    </header>    
    <div>     
      <hr>
      <br>
      <p class="text-lg">{{ content }}</p>
    <footer>
      <br>
      <hr>
    </footer>
    </div>
  </body>
</html>
